.title {
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-family: barlow-condensed;
  text-align: center;
  margin-bottom: 32px;
  padding-top: 10px;
  color: var(--white)
}

.title-number {
  margin-right: 18px;
  color: var(--gray-strong);
}

@media (min-width: 768px) {
  .title {
    text-align: left;
    margin-bottom: 60px;
  }
}
