nav {

  margin-bottom: 40px;
  padding: 20px;
  position: relative;
}

nav::after {
  position: absolute;
  content: "";
  width: 45%;
  border: 1px solid #ccc5;
  top: 50%;
  bottom: 50%;
  left: 8%;
}

.navlist {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.navlist .lista {
  display: flex;
  background-color: #aaa3;
  padding: 0 60px;
  align-items: center;
}

.lista li {
  list-style: none;
  color: #ddd;
  padding: 20px 0;
  margin: 0 20px;
}

.lista li:hover {
  border-bottom: 3px solid #ddd;
}

    margin-bottom: 40px;
    padding: 20px;
    position: relative;
  }
  
  nav::after {
    position: absolute;
    content: "";
    width: 45%;
    border: 1px solid #ccc5;
    top: 50%;
    bottom: 50%;
    left: 8%;
  }
  
  .navlist {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .navlist .lista {
    display: flex;
    background-color: #aaa3;
    padding: 0 60px;
    align-items: center;
  }
  
  .lista li {
    list-style: none;
    color: #ddd;
    padding: 20px 0;
    margin: 0 20px;
  }
  
  .lista li:hover {
    border-bottom: 3px solid #ddd;
  }

