<nav>

  <div class="navlist">
    <div>
      <img src="../../../assets/img/nav/logo.svg" alt="" />
    </div>
    <div class="lista">
      <li href="#">00 Home</li>
      <li href="#">01 Destination</li>
      <li href="#">02 Crew</li>
      <li href="#">03 Technology</li>
    </div>
  </div>
</nav>

    <div class="navlist">
      <div>
        <img src="../../../assets/img/nav/logo.svg" alt="" />
      </div>
      <div class="lista">
        <li href="#">00 Home</li>
        <li href="#">01 Destination</li>
        <li href="#">02 Crew</li>
        <li href="#">03 Technology</li>
      </div>
    </div>
  </nav>

