/*CSS for home page*/
.cuerpo {
  background-image: url("/assets/img/technology/background-technology-desktop.jpg");
  /* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tech-title{
  text-align: left;
  font-size: 28px;
  margin-left: 5vw;
  color: white;
}

.tech-sub-col {
  margin-top: 15vh;
  margin-left: 5vw;
}

.tech-nums {
  float: left;
}
.num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px white solid;
  border-radius: 50px;
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: white;
}
.tech-sub-content {
  margin-left: 10vw;
  padding-top: 5vh;
  color: white;
}
.terminology-txt {
  font-size: 16px;
  text-align: left;
  color: white;
}
.tech-sub-content {
  margin-left: 2vh;
  padding-top: 5vh;
  color: white;
  width: 50vw;
  float: left;
}
.tech-main-txt {
  font-size: 56px;
  text-align: left;
}
.tech-desc {
  font-size: 18px;
  margin-top: 3vh;
  text-align: left;
  padding-right: 50px;
  padding-left: 0px;
}
.tech-image1 {
  background: url("/assets/img/technology/image-launch-vehicle-portrait.jpg");
  width: 30vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
}
.tech-image2 {
  display: none;
}
/*/Responsive/*/
@media only screen and (max-width: 960px) {

  .tech-sub-col{
    margin-top: 5vh;
    margin-left: 0vw;
  }
  .tech-image2{
    display: block;
  }
  .tech-image2 img{
    width: 90vw;
  }

  .tech-image1 {
    display: none;
  }
  .tech-sub-content{
    width: 90vw;
  }  
  .tech-nums{
    width: 90vw;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px white solid;
    border-radius: 50px;
    font-size: 32px;
    margin-left: 16px;
    margin-right: 16px;
    float: left;
  }

  .tech-sub-content {
    margin-left: 0vw;
    padding-top: 5vh;
  }
  .terminology-txt {
    font-size: 14px;
    text-align: center;
  }
  .tech-main-txt {
    font-size: 24px;
    text-align: center;
  }
}