<div class="container-fluid cuerpo">
  <app-navbar></app-navbar>
  <div class="row">
    <div>
      <h5 class="tech-title">
        <span style="color: rgb(173, 171, 171)">03</span> SPACE LAUNCH 101
      </h5>
      <div class="tech-sub-col">
        <div class="tech-image2">
          <img
            src="/assets/img/technology/image-launch-vehicle-landscape.jpg"
            alt=""
          />
        </div>
        <div class="tech-nums">
          <div class="num" id="num1">1</div>
          <div class="num" id="num2">2</div>
          <div class="num" id="num3">3</div>
        </div>
        <div class="tech-sub-content">
          <p class="terminology-txt">THE TERMINOLOGY ...</p>
          <h2 class="tech-main-txt">LAUNCH VEHICLE</h2>
          <p class="tech-desc">
            A launch vehicle or carrier rocket is a rocket-propelled vehicle
            used to carry a payload from Earth's surface to space, usually to
            Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful
            in operation. Standing 150 metres tall, it's quite an awe-inspiring
            sight on the launch pad!
          </p>
        </div>
        <div class="tech-image1"></div>
      </div>
    </div>
  </div>
</div>
